.oneMeal{
    display: flex;
    align-items: center;
    border-bottom: double;
}

.h3{
    color: blue;
}
.price{
    display: inline;

}

.form{
    
    margin-left: auto;
    margin-right: 10px;
    font-weight: bold;

}


.button{
    background-color: darkred;
    color: white;
    width: 65%;
    border-radius: 20px;
    margin: auto;
    
  
}