.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
     margin: 0%;
}
.bottom{
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    margin-left: 20%;
    gap: 0.5rem;
    margin: 0.2rem;
}
.actions{
    display: flex;
    gap: 1rem;
}
.increaseAmount{
    width: 80%;
    background-color:white;
    border-radius: 0.5rem;
    
}
.increaseAmount:hover{
    background-color: darkred;
    color: white;
}
.decreaseAmount{
    background-color: white;
    border-radius: 0.5rem;
}
.decreaseAmount:hover{
        background-color: darkred;
    color: white;
}
.itemPrice{
  margin: 0;
}
.itemAmount{
    margin: 0;
}

