.header{
    background-color: brown;
    color: aquamarine;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0%;
    left: 0%;
    box-shadow: 0 2px 8px rgb(red, green, blue);
    padding: 0 20px;
}
.header h1{
    color: white;
    display:contents;

}

.header button{
    display: flex;
    align-items: center;
    gap: 0.75rem;

    background-color: #4d1601;
    color: white;

    border: none;
    border-radius: 999px;

    padding: 0.75rem 2rem;
    cursor: pointer;
    margin-right: 2rem;
    
}

.main-image{
  width: 100%;
  position: relative;
  height: 25rem;
  overflow: hidden;
}

 .box-overlay{
   position: absolute;
   top:50%;
   left: 50%;
   text-align: center;
   background-color: #fff;
   transform: translate(-50%, 10%);

}

.main-image img{
  height: 10%;
  width: 110%;
  height: 100%;
  object-fit: cover;
}